@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation Bar*/
nav{
    font-weight: bold;
    background: #382a40;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a{
color: rgb(251, 254, 254);
font-size: 15px;
text-transform: uppercase;
padding: 10px 20px ;
border-radius: 3px;
}

.nav-sec.active,.nav-sec:hover{
    background: rgb(255, 252, 252);
    color: #382a40;
    transition:.5s ;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

/* Logo */
.logo{
    top: 0;
    left: 0;
}

.home-content h1{
    font-size: 60px;
    color:#382a40;
    padding-left: 150px;
}
.home-content .p1{
    font-size: 28px;
    color:#382a40;
    padding-left: 150px;
    padding-top: 40px;
}
.home-content .p2{
    font-size: 28px;
    color:#382a40;
    padding-left: 150px;
    
}
/********************* Responsiveness:- Section1 ************************/
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .home-content{
        margin-bottom: 200px;


    font-size: 2.3rem;

    color: white;
    text-align: center;
    }

    nav ul li a{
        font-size: 16px;
        
    }
 }


 @media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .home-content{
        margin-bottom: 250px;


    font-size: 2rem;

    color: #382a40;
    text-align: center;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #382a40;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;

    }

    .nav-sec.active,.nav-sec:hover{
        background: none;
        color: rgb(45, 179, 197);  
    }
     
    #check:checked ~ ul{
        right: 0;
    }

    .content-1{
        font-size: 30px;
    }

 } 

 