@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation Bar*/
nav{
    font-weight: bold;
    background: #382a40;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a{
color: rgb(251, 254, 254);
font-size: 15px;
text-transform: uppercase;
padding: 10px 20px ;
border-radius: 3px;
}

.nav-sec.active,.nav-sec:hover{
    background: rgb(255, 252, 252);
    color: #382a40;
    transition:.5s ;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

/* Logo */
.logo{
    top: 0;
    left: 0;
}

/*************** home *****************/
.home-content h1{
    font-size: 60px;
    color:#382a40;
    text-align: center;
}
.home-content .p1{
    font-size: 28px;
    color:#382a40;
    text-align: center;
    padding-top: 40px;
}

.content-1 img{
    position: left;
         float: right; 
         width: 30%;
         height: 30%;
        bottom: 0%;

}

.home-content .p2{
    font-size: 28px;
    color:#382a40;
    text-align: center;
    
}

.home-content .img{
   text-align: center;
}



/******************* SERVICE *****************/

.service p{
    font-size: 35px;
    font-weight: bold;
    color:#382a40;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 40px;
}

.imagehome{
    text-align: center;
 }

 #im1{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 30px;
    
    
 }

 .imagehome img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
 }

 .imagehome img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter:grayscale(0%);
    filter: none;
    transition: 1s ease;
 }


/************************ PRICING SECTION ************************/


.card{
    height: 380px;
}

#pricing{
    padding: 100px;
     text-align: center; 
     
}

#pricing .section-heading {
    text-align: center; 
     font-size: 60px;

}

#pricing .line2{
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
}

/* .pricing-heading{
    font-weight: 2000;
} */

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
}

@media (max-width:1028px) {

#title{
    text-align: center;
}

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #3b70bb;
    color: aliceblue;
    /* text-align: center; */
    
    padding: 7% 15%;
    /* font-size: 3.5rem; */
}

.cta-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 1000;
    font-size: 3.5rem;
    padding-bottom: 5%;
}

/************************ FOOTER ************************/

#footer{
    /* padding: 150% 15%; */
    text-align: center;
}

.social-icon{
    margin:20px 10px ;/* ((TOP BOTTOM) (LEFT RIGHT)) */
    font-size: 20px;
}


/********************* Responsiveness:- Section1 ************************/
/* @media (max-width: 1285px){
    .home-content img{
        padding-left: 200px;
    }
} */

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .home-content{
        margin-bottom: 200px;


    font-size: 2.3rem;

    color: white;
    text-align: center;
    }

    nav ul li a{
        font-size: 16px;
        
    }

    .home-content h1{
        font-size: 60px;
        color:#382a40;
        padding-left: 20px;
    }
    .home-content .p1{
        font-size: 28px;
        color:#382a40;
        padding-left: 10px;
        padding-top: 20px;
    }
    .home-content .p2{
        font-size: 28px;
        color:#382a40;
        padding-left: 30px;

 }

 

}


 @media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .home-content{
        margin-bottom: 250px;


    font-size: 2rem;

    color: #382a40;
    text-align: center;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #382a40;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;

    }

    .nav-sec.active,.nav-sec:hover{
        background: none;
        color: rgb(45, 179, 197);  
    }
     
    #check:checked ~ ul{
        right: 0;
    }

    .content-1{
        font-size: 30px;
    }

    .home-content h1{
        font-size: 60px;
        color:#382a40;
        padding-left: 20px;
    }
    .home-content .p1{
        font-size: 28px;
        color:#382a40;
        padding-left: 10px;
        padding-top: 20px;
    }
    .home-content .p2{
        font-size: 28px;
        color:#382a40;
        padding-left: 30px;
        
    }
    .home-content .img{
        padding-left: -100px;
    margin-top: 5x;
    /* transform: translate(6%); */
        
    }
    
    
    

 } 


 /* .home-content .img{
    padding-left: 800px ;
    margin-top: 5x;
    transform: translate(6%);

} */